* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

/* generals */

/* grid */

#body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "head"
    "main"
    "foot";
}

/* ends grid */

a {
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
}

a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

a:hover:after {
    width: 100%;
    background: #333;
}

ul, ol {
    list-style: none;
}

html {
    font-size: 62.5%;
}

#body {
    background-image: url(../img/grey.png);
}

.border {
    border: 5px dotted #5A2E2E;
}

a {
    text-decoration: none;
}

a, p, h1, h2, h3 {
    color:#DFBA69;
}

/* ends generals */

/* header */

#header {
    grid-area: head;
    display: flex;
    position: sticky;
    top: 0%;
    justify-content: space-between;
    background-image: url(../img/grains-background.png);
    background-size: 35%;
    background-repeat: repeat-x;
    background-clip: padding-box;
    align-items: center;
    font-size: 1.5rem;
    outline: .6rem rgba(000, 000, 000, .4) solid;
}

.header__logo a {
    color: #5A2E2E;
    background-color: #DFBA69;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DFBA69;
}

#nav a {
    color: #5A2E2E;
    font-weight: 600;
}


/* ends header */

/* main */

#main {
    grid-area: main;
}

#hero {
    width: 100%;
    height: 60rem;
    overflow: hidden;
    outline: .3rem rgba(000, 000, 000, .8) solid;
}

.hero__img {
    width: 100%;
}

/* intro */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 5rem;
}

.intro__text--conteiner {
    text-align: center;
}

.intro__title {
    color: #000000;
    margin-bottom: 3rem;
}

.intro__text {
    margin-bottom: 3rem;
}

.intro__img--conteiner {
    width: 40rem;
}

.intro__img {
    max-width: 100%;
    max-height: 100%;
}

/* ends intro */

/* locations */

.locations {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.espacios {
    padding: 2rem 15rem;
    font-size: 1.5rem;
    margin: 5rem;
}

.espacios__img--conteiner {
    display:flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.espacios__img--conteiner img {
    width: 130em;
    height: 30rem;
    margin: .5rem 0;
}

/* ends locations */

/* tienda index */

.destacados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.destacados__title {
    padding: 2rem 15rem;
    font-size: 1.5rem;
    margin: 5rem;
}

.destacados__items--conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem;
    font-size: 1.5rem;
}

.destacados__items--conteiner figure {
    margin: 0 6rem 5rem 6rem;
}

.destacados__items--conteiner figcaption {
    margin-top: 1.5rem;
    line-height: 3rem;
}

/* ends tienda index */

/* ends main */

/* footer */

#footer {
    grid-area: foot;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/grains-background-footer.png);
    background-size: 65%;
}

#footer p {
    display: inline-block;
    width: 20rem;
    margin: 3rem;
    font-style: italic;
    font-size: 2rem;
    line-height: 3rem;
}

.redes {
    margin-right: 3rem;
    text-align: center;
}

.redes h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* ends footer */

/* ---------------- MENÚ ---------------- */

.menu {
    font-size: 2rem;
    line-height: 3rem;
    margin: 3rem 0;
}

.bg-light {
    background-color: rgba(255,254,223, .4);
    width: 30%;
}

.drinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drinks__img--conteiner {
    width: 57%;
}

.drinks__img {
    max-width: 100%;
    max-height: 100%;
}

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food__img--conteiner {
    width: 57%;
}

.food__img {
    max-width: 100%;
    max-height: 100%;
}

/* ---------------- ENDS MENÚ ---------------- */

/* ---------------- TIENDA ---------------- */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTienda {
    padding: 1rem 1rem 3rem 1rem;
    width: 100%;
}

.heroTienda__img {
    max-width: 100%;
    max-height: 100%;
}

.tiendaCafe {
    width: 100%;
}

.tiendaCafe__title {
    text-align: center;
    padding: 2rem 15rem;
    font-size: 1.5rem;
    margin: 5rem;
}

.tiendaCafe__img--conteiner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tiendaCafe__img--conteiner figure {
    padding: 2rem 10rem;
    margin: 0 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.tiendaCafe__img--conteiner img {
    width: 20rem;
}

.tiendaCafe__img--conteiner {
    margin-top: 1.5rem;
    line-height: 3rem;
}

.tiendaCapsulas {
    width: 100%;
}

.tiendaCapsulas__title {
    text-align: center;
    padding: 2rem 15rem;
    font-size: 1.5rem;
    margin: 5rem;
}

.tiendaCapsulas__img--conteiner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tiendaCapsulas__img--conteiner figure {
    padding: 2rem 10rem;
    margin: 0 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.tiendaCapsulas__img--conteiner img {
    width: 20rem;
}

.tiendaCapsulas__img--conteiner figcaption {
    margin-top: 1.5rem;
    line-height: 3rem;
}

/* ---------------- ENDS TIENDA ---------------- */

/* =============== MOBILE =============== */

@media only screen and (min-width: 1200px) {
    #header {
        padding: 4rem 1rem;
    }

    .botonera {
        display: flex;
        flex-direction: row;
    }

    .botonera li {
        margin: 0 1rem;
    }

    /* desktop main */

    /* desktop intro */

    .intro {
        flex-direction: row;
        justify-content: center;
    }

    .intro__text--conteiner {
        width: 50%;
        margin-right: 10rem;
    }

    .intro__img--conteiner {
        width: 30rem;
    }

    /* ends desktop intro */

    /* desktop locations */

    .espacios__img--conteiner {
        display: flex;
        flex-direction: row;
    }

    .espacios__imgCut {
        height: 15rem;
        padding: .5rem;
    }

    .espacios__img--conteiner img {
        max-width: 100%;
        max-height: 100%;
    }

    /* ends desktop locations */

    /* desktop destacados */

    .tienda__items--conteiner {
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }

    .tienda__items--conteiner figure {
        margin: 0;
    }

/* ends desktop main */

/* ---------------- MENÚ DESKTOP ---------------- */

    .drinks {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-content: center;
    }

    .drinks__img--conteiner {
        width: 54%;
    }

    .food {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    .food__img--conteiner {
        width: 54%;
    }

/* ---------------- TIENDA DESKTOP ---------------- */




}